/**
 * Layer switcher
 */
.esIGNLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.esIGNLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.esIGNLayerSwitcher .layersDiv .baseLbl,
.esIGNLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.esIGNLayerSwitcher .layersDiv .baseLayersDiv,
.esIGNLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}

.esIGNLayerSwitcher .maximizeDiv,
.esIGNLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}
